<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
<div th:fragment="footer"
     th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    >
    <footer class="text-center text-lg-start text-muted text-center" style="background: rgb(44, 49, 53)">
        <section class="p-2">
            <div class="d-lg-block">
                <span th:text="#{footer.github}"></span>
                <a class="text-reset" href="https://github.com/Zuifs/tea-shop">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </section>

        <span th:text="#{footer.copyright}"></span>
        <span>
                    <a th:href="@{/about}" th:text="#{about.name}"></a>
                </span>
        <label>
            <select class="custom-select" id="select-lang" onchange="window.location = this.value">
                <option th:href="@{${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}}"
                        th:selected="${#locale.getLanguage().toString() == 'en'}"
                        th:text="#{footer.language.en}"
                        th:value="${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}"></option>
                <option th:href="@{${urlBuilder.replaceQueryParam('lang', 'ua').toUriString()}}"
                        th:selected="${#locale.getLanguage().toString() == 'ua'}"
                        th:text="#{footer.language.ua}"
                        th:value="${urlBuilder.replaceQueryParam('lang', 'ua').toUriString()}"></option>
            </select>
        </label>

    </footer>

    <script th:src="@{webjars/jquery/3.3.1-1/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{webjars/bootstrap/4.1.0/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/lang.js}" type="text/javascript"></script>
</div>
</body>

</html>