html {
    height: 100%;
}

body {
    background: rgb(240, 240, 240);
    position: relative;
    margin: 0;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
}

span {
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.btn {
    padding-left: 15px;
}

.alert {
    padding-top: 10px;
}

#header-username {
    color: ghostwhite;
}

nav {
    height: 50px;
}

.navbar-brand {
    font-size: 25px;
    padding-left: 7px;
    padding-right: 10px;
    transition: all 200ms;
}

.navbar-brand:hover, .info-slide:active {
    transform: scale(1.5);
}

.card-deck {
    padding-left: 15px;
}

.card {
    max-width: 20rem;
}

.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}

#cart {
    width: 50px;
    height: 50px;
}

a.nav-link:link {
    color: #FFFFFF;
    text-decoration: none;
}


a.nav-link:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a.nav-link:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a.nav-link:active {
    color: #FFFFFF;
    text-decoration: none;
}