<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-3" th:if="${!teas.isEmpty()}">
        <h2 th:text="#{cart.title}"></h2>
        <div class="card" th:each="tea : ${teas.entrySet()}">
            <h3 th:text="${tea.getKey().getName()}"></h3>
            <h4 th:text="${tea.getValue()}"></h4>
            <h4 th:text="${tea.getKey().getPrice()}"></h4>
            <a class="col-md-1" th:href="@{'/cart/remove/{id}'(id=${product.getKey().getId()})}">
                <button class="btn btn-primary" th:text="#{cart.remove}" type="button"></button>
            </a>
            <br>
        </div>
    </div>

    <div class="col-3" th:if="${teas.isEmpty()}">
        <h2 th:text="#{cart.empty}"></h2>
    </div>

    <br>
    <a class="col-md-1" th:href="@{'/cart/clear/'}">
        <button class="btn btn-info" th:text="#{cart.clear}" type="button"></button>
    </a>

    <br>
    <div class="row">
        <h3 th:text="#{cart.total} + ' ' + ${totalPrice}"></h3>">
        <a class="col-md-1" th:href="@{'/cart/checkout'}">
            <button class="btn btn-success" th:text="#{cart.checkout}" type="button"></button>
        </a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>