<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="alert alert-danger align-items-center d-flex justify-content-center" role="alert"
         th:if="${noTeas != null and noTeas}"
         th:text="'No teas in the stock!'"></div>
    <h2 class="align-items-center d-flex justify-content-center" th:text="#{cart.title}"></h2>
    <div class="row align-items-center d-flex justify-content-center">
        <h3 th:text="#{cart.total} + ' ' + ${totalPrice} + '$'"></h3>
        <a class="col-md-1" th:href="@{'/cart/checkout'}">
            <button class="btn btn-success" th:text="#{cart.checkout}" type="button"></button>
        </a>
    </div>
    <div class="col card-deck ml-5 my-3" th:if="${!teas.isEmpty()}">
        <div class="card " th:each="tea : ${teas.keySet()}" th:object="${repo}">
            <a class="fill-div" th:href="@{'/tea/about/' + ${tea.getId()}}">
                <div class="embed-responsive embed-responsive-16by9">
                    <img alt="Card image cap" class="card-img-top embed-responsive-item" style="object-fit: cover"
                         th:src="${tea.getImageUrl()}">
                </div>
                <div class="card-body justify-content-center">
                    <h4 class="card-title align-items-center d-flex justify-content-center"
                        th:text="${tea.getName()}"></h4>
                    <p class="card-text align-items-center d-flex justify-content-center"
                       th:text="${tea.getDescription()}"></p>
                    <p class="card-text align-items-md-end d-flex justify-content-center"
                       th:text="${tea.getPrice()} + '$'"></p>
                    <p class="card-text align-items-md-end d-flex justify-content-center"
                       th:text="#{cart.count} + ' '+ ${teas.get(tea)}"></p>
                </div>
            </a>
            <div class="card-body justify-content-center">
                <a class="card-text align-items-center d-flex justify-content-center"
                   th:href="@{'/cart/remove/{id}'(id=${tea.getId()})}">
                    <button class="btn btn-primary align-items-center d-flex justify-content-center"
                            th:text="#{cart.remove}" type="button"></button>
                </a>
            </div>
        </div>
    </div>

    <div class="row align-items-center d-flex justify-content-center" th:if="${teas.isEmpty()}">
        <h2 th:text="#{cart.empty}"></h2>
    </div>

    <br>
    <a class="row align-items-center d-flex justify-content-center" th:href="@{'/cart/clear/'}">
        <button class="btn btn-info align-items-center d-flex justify-content-center" th:text="#{cart.clear}"
                type="button"></button>
    </a>

    <br>

</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>