<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-3" th:if="${!teas.isEmpty()}">
        <h2 th:text="#{cart.title}"></h2>
        <div class="card" th:each="tea : ${teas.entrySet()}">
            <a class="fill-div" th:href="@{'/tea/about' + ${tea.getKey().getId()}}">
                <div class="card-header justify-content-center">
                    <p class="card-text align-items-center d-flex "
                       th:text="${tea.getKey().getName()}">
                    </p>
                </div>
            </a>
            <div class="card-body justify-content-center">
                <p class="card-text align-items-center d-flex"
                   th:text="#{cart.price} + ' ' +${tea.getKey().getPrice()} + '$'"></p>
                <p class="card-text align-items-center d-flex"
                   th:text="#{cart.count} + ' '+ ${tea.getValue()}">
                </p>
            </div>
            <div class="card-footer align-items-center d-flex justify-content-center">
                <p class="card-text"
                   th:text="${tea.getKey().getDescription()}"></p>
            </div>
            <a class="col-md-5" th:href="@{'/cart/remove/{id}'(id=${tea.getKey().getId()})}">
                <button class="btn btn-primary align-items-center d-flex justify-content-center"
                        th:text="#{cart.remove}" type="button"></button>
            </a>
        </div>
    </div>

    <div class="col-3" th:if="${teas.isEmpty()}">
        <h2 th:text="#{cart.empty}"></h2>
    </div>

    <br>
    <a class="col-md-1" th:href="@{'/cart/clear/'}">
        <button class="btn btn-info" th:text="#{cart.clear}" type="button"></button>
    </a>

    <br>
    <div class="row">
        <h3 th:text="#{cart.total} + ' ' + ${totalPrice} + '$'"></h3>
        <a class="col-md-1" th:href="@{'/cart/checkout'}">
            <button class="btn btn-success" th:text="#{cart.checkout}" type="button"></button>
        </a>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>