<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container"
     th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
    <nav aria-label="Pagination" class="nav align-items-center d-flex justify-content-center">
        <ul class="pagination text-center font-weight-medium">
            <li class="page-item" th:classappend="${teas.number eq 0} ? 'disabled'">
                <a aria-label="Previous"
                   class="page-link svg-icon"
                   rel="tooltip"
                   th:href="@{${urlBuilder.replaceQueryParam('page', teas.number lt 2 ? 1 : teas.number).toUriString()}}"
                   th:title="#{pagination.previous}">
                    <span aria-hidden="true" data-feather="chevrons-left" height="20" width="20">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq teas.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( teas.number + 1, teas.totalPages > 10 + teas.number ? teas.number + 10 : teas.totalPages, 1)}">

                <a class="page-link" rel="tooltip"
                   th:href="@{${urlBuilder.replaceQueryParam('page', i).toUriString()}}"
                   th:text="${i}"
                   th:title="#{pagination.page} + ' ' + i"></a>
            </li>
            <li class="page-item disabled" th:if="${teas.number + 10 < teas.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" height="20" width="20"></span>
                </a>
            </li>
            <li class="page-item" th:classappend="${teas.number + 1 eq teas.totalPages} ? 'disabled'">
                <a aria-label="Next" class="page-link svg-icon"
                   rel="tooltip"
                   th:href="@{${urlBuilder.replaceQueryParam('page',teas.number + 2).toUriString()}}"
                   th:title="#{pagination.next}">
                    <span aria-hidden="true" data-feather="chevrons-right" height="20" width="20">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="btn-group">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                id="pagination" th:text="#{pagination.perpage}" type="button">
        </button>

        <div aria-labelledby="pagination" class="dropdown-menu text-center">
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('size', 1).replaceQueryParam('page', '1').toUriString()}}">1</a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('size', 2).replaceQueryParam('page', '1').toUriString()}}">2</a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('size', 4).replaceQueryParam('page', '1').toUriString()}}">4</a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('size', 8).replaceQueryParam('page', '1').toUriString()}}">8</a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('size', 16).replaceQueryParam('page', '1').toUriString()}}">16</a>
        </div>
    </div>
    <div class="btn-group ">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown"
                id="sort" th:text="#{sort.sort}" type="button">

        </button>
        <div aria-labelledby="sort" class="dropdown-menu text-center">
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('sort', 'price').replaceQueryParam('size', 2).toUriString()}}"
               th:text="#{sort.sort.price}"></a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('sort', 'addTime').replaceQueryParam('size', 2).toUriString()}}"
               th:text="#{sort.sort.addtime}"></a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('sort', 'count').replaceQueryParam('size', 2).toUriString()}}"
               th:text="#{sort.sort.count}"></a>
        </div>
    </div>
    <div class="btn-group" th:if="${#httpServletRequest.getParameterMap().containsKey('sort')}">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown"
                id="sortBy" th:text="#{sort.direction}" type="button">
        </button>
        <div aria-labelledby="sortBy" class="dropdown-menu text-center">
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('sortBy', 'ascend').replaceQueryParam('size', 2).toUriString()}}"
               th:text="#{sort.direction.asc}"></a>
            <a class="dropdown-item"
               th:href="@{${urlBuilder.replaceQueryParam('sortBy', 'descend').replaceQueryParam('size', 2).toUriString()}}"
               th:text="#{sort.direction.desc}"></a>
        </div>

    </div>
    <div class="alert alert-warning text-center" role="alert"
         th:if="${searchDetail and teas.totalElements > 0}"
         th:text="#{search.other}"></div>
    <div class="alert alert-info text-center" role="alert"
         th:if="${teas.totalElements == 0}"
         th:text="#{search.nothing}"></div>

    <div class="row text-center">
        <nav class="side-menu">
            <h3 th:text="#{home.type}"></h3>
            <div class="card" th:each="type: ${types}">
                <a class="fill-div" style="color: black" th:href="@{/home(teaType=${type})}">
                    <div class="card-body">
                        <p class="card-text"
                           th:text="#{'type.' + ${type.getName().toLowerCase()}}"></p>
                    </div>
                </a>
            </div>
        </nav>

        <button class="btn" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{tea/new}"><i class="fas fa-plus fa-2x"></i></a>
        </button>

        <div class="col card-deck ml-5 my-3" th:if="${!teas.isEmpty()}">

            <div class="card text-center" th:each="tea : ${teas}">

                <div class="admin" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn">
                        <a th:href="@{'tea/delete/' + ${tea.getId()}}"><i class="fas fa-times"></i></a>
                    </button>
                    <button class="btn">
                        <a th:href="@{'tea/edit/' + ${tea.getId()}}"><i class="fas fa-wrench"></i></a>
                    </button>
                </div>
                <a class="fill-div" th:href="@{'tea/about/' + ${tea.getId()}}">
                    <div class="embed-responsive embed-responsive-16by9">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" style="object-fit: cover"
                             th:src="${tea.getImageUrl()}">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"
                            th:text="${tea.getName()}"></h4>

                        <p class="card-text"
                           th:text="${tea.getDescription()}"></p>
                        <p $ class="card-text"
                           th:text="${tea.getPrice()} + '$'"></p>
                    </div>
                    <a class="btn btn-lg btn-outline-info btn-block" th:href="${'/cart/add/' + tea.getId()}"
                       th:text="#{tea.add}"></a>
                </a>
            </div>
        </div>
        <div>
            <span th:text="#{tea.count} + ' ' + ${teasCount}"></span>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
</body>

</html>