<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <nav aria-label="Pagination" th:if="${teas.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-medium">
            <li class="page-item" th:classappend="${teas.number eq 0} ? 'disabled'">
                <a aria-label="Previous"
                   class="page-link svg-icon"
                   rel="tooltip"
                   th:href="@{/home?page={id}(id=${teas.number lt 2 ? 1 : teas.number})}"
                   title="Previous Page">
                    <span aria-hidden="true" data-feather="chevrons-left" height="20" width="20">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq teas.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( teas.number + 1, teas.totalPages > 10 + teas.number ? teas.number + 10 : teas.totalPages, 1)}">
                <a class="page-link" rel="tooltip" th:href="@{/home?page={id}(id=${i})}"
                   th:text="${i}"
                   th:title="${'Page '+ i}"></a>
            </li>
            <li class="page-item disabled" th:if="${teas.number + 10 < teas.totalPages}">
                <a class="page-link svg-icon" href="#">
                    <span data-feather="more-horizontal" height="20" width="20"></span>
                </a>
            </li>
            <li class="page-item" th:classappend="${teas.number + 1 eq teas.totalPages} ? 'disabled'">
                <a aria-label="Next" class="page-link svg-icon"
                   rel="tooltip"
                   th:href="@{/home?page={id}(id=${teas.number + 2})}" title="Next Page">
                    <span aria-hidden="true" data-feather="chevrons-right" height="20" width="20">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="row">
        <nav class="side-menu">
            <h3>TeaType</h3>
            <ul>
                <li th:each="type: ${types}"><a th:href="@{/searchByType(teaType=${type})}"
                                                th:text="${type.name()}"></a>
                </li>
            </ul>
        </nav>

        <button class="btn" sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{tea/new}"><i class="fas fa-plus fa-2x"></i></a>
        </button>
        <div class="col card-deck ml-5 my-3" th:if="${!teas.isEmpty()}">

            <div class="card" th:each="tea : ${teas}">

                <div class="admin" sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn">
                        <a th:href="@{'tea/delete/' + ${tea.getId()}}"><i class="fas fa-times"></i></a>
                    </button>
                    <button class="btn">
                        <a th:href="@{'tea/edit/' + ${tea.getId()}}"><i class="fas fa-wrench"></i></a>
                    </button>
                </div>
                <a class="fill-div" th:href="@{'tea/about/' + ${tea.getId()}}">
                    <img alt="Card image cap" class="card-img-top" src=""
                         th:if="${!tea.getImageUrl().isEmpty()}" th:src="${tea.getImageUrl()}">
                    <div class="card-body justify-content-center">
                        <h4 class="card-title align-items-center d-flex justify-content-center"
                            th:text="${tea.getName()}"></h4>

                        <p class="card-text align-items-center d-flex justify-content-center"
                           th:text="${tea.getDescription()}"></p>
                        <p $ class="card-text align-items-md-end d-flex justify-content-center"
                           th:text="${tea.getPrice()} + '$'"></p>
                    </div>
                    <a class="btn btn-lg btn-outline-info btn-block" th:href="${'/cart/add/' + tea.getId()}"
                       th:text="#{tea.add}"></a>
                </a>
            </div>
        </div>
        <div>
            <span th:text="#{tea.count} + ' ' + ${teasCount}"></span>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>