<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header-css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" class="form-signin" method="POST" th:action="@{register}" th:object="${userForm}">
                <fieldset>
                    <h1 th:text="#{register.title}"></h1>
                    <div class="form-group">
                        <label th:text="#{user.username} + '*'"></label>
                        <input autofocus="true" class="form-control input-lg" th:field="*{userName}" title="userName"
                               type="text"/>
                        <div class="alert alert-danger error-alert" th:errors="*{userName}"
                             th:if="${#fields.hasErrors('userName')}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{user.email} + '*'"></label>
                        <input class="form-control input-lg" required th:field="*{email}" title="email" type="email"/>
                        <div class="alert alert-danger error-alert" th:errors="*{email}"
                             th:if="${#fields.hasErrors('email')}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{user.password} + '*'"></label>
                        <input class="form-control input-lg" required th:field="*{password}" title="password"
                               type="password"/>
                        <div class="alert alert-danger error-alert" th:errors="*{password}"
                             th:if="${#fields.hasErrors('password')}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{user.firstname} + '*'"></label>
                        <input class="form-control input-lg" required th:field="*{firstName}" title="firstName"
                               type="text"/>
                        <div class="alert alert-danger error-alert" th:errors="*{firstName}"
                             th:if="${#fields.hasErrors('firstName')}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{user.lastname} + '*'"></label>
                        <input class="form-control input-lg" required th:field="*{lastName}" title="lastName"
                               type="text"/>
                        <div class="alert alert-danger error-alert" th:errors="*{lastName}"
                             th:if="${#fields.hasErrors('lastName')}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{user.city} + '*'"></label>
                        <input class="form-control input-lg" required th:field="*{city}" title="city"
                               type="text"/>
                        <div class="alert alert-danger error-alert" th:errors="*{city}"
                             th:if="${#fields.hasErrors('city')}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{user.age} + '*'"></label>
                        <input class="form-control input-lg" required th:field="*{age}" title="age"
                               type="number"/>
                        <div class="alert alert-danger error-alert" th:errors="*{age}"
                             th:if="${#fields.hasErrors('age')}"></div>
                    </div>
                    <p th:text="#{register.required}"></p>
                    <input class="btn btn-outline-dark" th:value="#{register.button}" type="submit"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>